
# ignore all tflite files
*.tflite

get_fps_all.sh
#get_fps_cpp_comparison.sh
#get_fps_cpp_comparison_withoutGUI.sh
__pycache__
*.xlsx
/object_detection/models/example_model_1
*.zip
*.ipynb
*.ipynb_checkpoints

models_from_scripts
experiment_results_links.rtf
*.pptx
*.pyc
cpp64bit_file_structure

!TFLITE_PERF_TEST-COMPARISON.xlsx

#ignore datasets
coco2014_val_set
coco2017_val_set
/object_detection/datasets/*